html {
    background-color: lightgrey;
}

h1 {
    position: absolute;
    font-size: 5rem;
    font-weight: bold;
    top: 140%;
    left: 10.5%;
}

/* setting global styling so it is hopefully more responsive */
#wrapper {
    position: relative;
    margin: auto;
    display: block;
    margin: 8% auto;
    width: 600px;
    height: 420px;
    background: none;
}


/* Set Button Styling */
a {
    background: none;
    text-decoration: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: .5em;
    padding: 1em 2em;
    color: black;
    transition: 0.25s;
    text-align: center;
}

a:hover,
a:focus {
    color: #00FFFF;
    box-shadow: 0 0.5em 0.5em -0.4em #00FFFF;
}

/* Set Button Positioning */
#enterIncognito {
    position: absolute;
    left: 32.5%;
    top: 25%;
}

/* creates the outer glasses element */
.glasses {
    position: absolute;
    width: 200px;
    height: 200px;
    left: -27%;
    top: 75%;
    z-index: 1;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    color: black;

    /* Here is where the magic happens */

    box-shadow: 235px 14px 0 0 currentColor, 492px 14px 0 0 currentColor;
}

/* creates the inner glasses element */
.glasses::before {
    content: "";
    position: absolute;
    width: 150px;
    height: 150px;
    left: 25%;
    top: 45%;
    z-index: 2;
    border-radius: 50%;
    color: white;
    box-shadow: 211px -51px 0 0 currentColor, 468px -51px 0 0 currentColor;
}

/* Creates the glasses bridge */
.glasses::after {
    content: "";
    position: absolute;
    width: 200px;
    height: 40px;
    left: 179.5%;
    top: 25%;
    border-top: solid 40px black;
    border-radius: 50% 50% 50% 50% / 100% 100% 0% 0%;
    -webkit-border-radius: 50% 50% 50% 50% / 100% 100% 0% 0%;
    -moz-border-radius: 50% 50% 50% 50% / 100% 100% 0% 0%;
    -ms-border-radius: 50% 50% 50% 50% / 100% 100% 0% 0%;
    -o-border-radius: 50% 50% 50% 50% / 100% 100% 0% 0%;
}

/* creates the hat top */
.hat {
    position: absolute;
    text-align: center;
    top: 0%;
    left: 17%;
    height: 250px;
    width: 400px;
}

.hat:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 51%;
    background: black;
    border-top-left-radius: 5%;
    border-bottom-right-radius: 50%;
    transform: skew(-10deg, 10deg);
}

.hat:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    background: black;
    border-top-right-radius: 5%;
    border-bottom-left-radius: 50%;
    transform: skew(10deg, -10deg);
}

/* Set styling and create the hat brim */
.hatBrim {
    position: absolute;
    height: 40px;
    width: 550px;
    left: -0.5%;
    top: 37.5%;
    border: solid 30px #000;
    border-color: #000 transparent transparent transparent;
    border-radius: 40%/100px 100px 0 0;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-border-radius: 40%/100px 100px 0 0;
    -moz-border-radius: 40%/100px 100px 0 0;
    -ms-border-radius: 40%/100px 100px 0 0;
    -o-border-radius: 40%/100px 100px 0 0;
}

.hatBrim:before {
    content: "";
    position: absolute;
    height: 110px;
    width: 180px;
    left: 35%;
    top: -4%;
    background: black;

}